.main-icon {
  display: block;
  font-size: 5em !important; /* Example of increasing the size and forcing override */
  margin: 0 auto 20px auto !important; /* Example of increasing the bottom margin and forcing override */
}

.main-title {
  display: block;
  margin-top: 10px;
  font-size: 2.5rem !important; /* Example of increasing the size and forcing override */
  color: #333 !important; /* Example of changing the color and forcing override */
}

:root {
  --amplify-primary-color: #285e8e; /* Replace with your desired primary color */
  --amplify-secondary-contrast: #ffffff; /* Replace with your desired contrast color */
}

.ui.button.floatingButton {
  padding: 0px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: var(--amplify-primary-color);
  color: var(--amplify-secondary-contrast);
}

.ui.button.floatingButton:hover {
  background-color: #3a6ea5; /* Slightly lighter or darker than the --amplify-primary-color for a subtle effect */
}


.floatingButton_icon{
  margin: 0px !important;
  padding: 0px !important;
}

.ml-trash{
  margin-left: 3em !important;
}